.vscode/**
.vscode-test/**
src/**
server/**
out/**
node_modules/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
.env
.env.example
drizzle.config.ts
bun.lock
package-lock.json
!dist/**
!images/**
!README.md
!LICENSE
!CHANGELOG.md
