services:
  - type: web
    name: codecircle-server
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 8080
